*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.nav-container{
    min-height: 80px;
    background-color: #222;
    display: flex;
    justify-content: space-between;

}
.flex-container {
    display: flex;
    flex-grow: 1;
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    background-image: url(../img/Tidus.jpg);
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 130px;
    margin: 30px 10px;
    position: relative;
}
.name{
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 0;
    color: white;
    height: 25px;
    padding: 5px;
}
ul{
    display: flex;
    height: 100%;
    align-items: center;
}
ul li{ 
    list-style: none;
    color: whitesmoke;
    padding: 15px;
    text-align: center;
}
ul:first-child, ul:last-child{
    min-width: 150px;
}
ul:last-child{
    background-color: rgb(74,74,74);
    justify-content: center; 
}
ul:last-child li:last-child{
    color: red;
}
li .fas{
    font-size: 25px;
    padding: 5px;
}
.fa-share-square{
    color: greenyellow;
}


